<header
    class="border-primary border p-4 p-md-5 rounded-4 c-home-header d-flex flex-column flex-md-row align-items-center justify-content-between mb-4 mb-lg-5">
    <div class="d-flex flex-column my-5">

        <h1 class="fw-bolder">
            <ngx-typed-js [strings]="['A NEW FRONTIER.']" [typeSpeed]="100" [startDelay]="0" [showCursor]="false">
                <span class="typing"></span>
            </ngx-typed-js>
        </h1>
        <div class="d-flex flex-column flex-xl-row text-uppercase">
            <p class="h5 mb-0 fw-bold me-2">Ready to claim your spot?</p>
            <a href="/dashboard" class="h5 text-decoration-underline link-offset-3 mb-0 fw-bold">LEARN MORE</a>
        </div>

    </div>
    <div class="c-home-header__clip-container h-100 w-auto overflow-hidden">
        <video src="./assets/header-clip.mp4" class="c-home-header__clip h-100 w-100 object-fit-cover" autoplay
            loop></video>
    </div>


</header>

<div class="row justify-content-between align-items-center  gy-2 gy-lg-0">
    <div class="col-12 col-lg-6 col-xl-5">
        <app-socials />
    </div>
    <div class="col-12 col-lg-6 col-xl-5">
        <p class="mb-0">Explore the frontier of decentralized finance with CLAIMY, the ERC20 token engineered for
            precision and periodicity.</p>
    </div>
</div>


<div class="row my-4 my-lg-5 gy-2 gy-md-0">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="text-primary mb-1 text-center fw-bold c-text-glow">1,000,000,000</h5>
                <p class="mb-0 text-center">Total Supply</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="text-primary mb-1 text-center fw-bold c-text-glow">No restrictions</h5>
                <p class="mb-0 text-center">For all users</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="text-primary mb-1 text-center fw-bold c-text-glow">Locked liquidity</h5>
                <p class="mb-0 text-center">360 Days Lockup</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="text-primary mb-1 text-center fw-bold c-text-glow">1%</h5>
                <p class="mb-0 text-center">Transaction Fees</p>
            </div>
        </div>
    </div>
</div>

<div class="row my-4 my-lg-5">
    <div class="col-12">
        <div class="card">
            <div class="card-body p-3 p-lg-5">
                <h2 class="text-primary mb-3 mb-lg-4 text-uppercase fw-bold c-text-glow">
                    <ngx-typed-js [strings]="['// WHAT IS CLAIMY?']" [typeSpeed]="100" [startDelay]="250"
                        [showCursor]="false">
                        <span class="typing"></span>
                    </ngx-typed-js>
                </h2>
                <p class="mb-0">Welcome to the next frontier of decentralized rewards. Introducing CLAIMY, an ERC20
                    token designed
                    for crypto enthusiasts who understand the power of time and loyalty. With our innovative ideas, we
                    reward holders of CLAIMY by allowing them to unlock periodic rewards, creating a seamless and
                    rewarding experience for those committed to the evolution of decentralized finance.</p>
            </div>
        </div>
    </div>
</div>

<div class="row my-4 my-lg-5">
    <div class="col-12 col-lg-6">
        <div class="card h-100">
            <div class="card-body p-3 p-lg-5 d-flex flex-column align-items-start justify-content-center">
                <h2 class="text-primary mb-3 mb-lg-4 text-uppercase fw-bold c-text-glow">
                    <ngx-typed-js [strings]="['// NFT MINTING']" [typeSpeed]="100" [startDelay]="500"
                        [showCursor]="false">
                        <span class="typing"></span>
                    </ngx-typed-js>
                </h2>
                <p class="mb-3">Visit our NFT minting page and claim your exclusive piece of the digital frontier of
                    CLAIMY. Be on time, as there's only 500 ever to be created.</p>
                <a href="/dashboard#mint" class="btn btn-primary text-uppercase fw-bold px-4 py-2"> Mint
                    your
                    own NFT</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="card">
            <div class="card-body p-3 p-lg-4">
                <div class="row g-2">
                    <div class="col-4 col-sm-3 col-md-3">
                        <img src="../assets/images/nfts/1.jpg"
                            class="object-fit-cover w-100 border border-primary rounded-3 m-0">
                    </div>
                    <div class="col-4 col-sm-3 col-md-3">
                        <img src="../assets/images/nfts/2.jpg"
                            class="object-fit-cover w-100 border border-primary rounded-3 m-0">
                    </div>
                    <div class="col-4 col-sm-3 col-md-3">
                        <img src="../assets/images/nfts/3.jpg"
                            class="object-fit-cover w-100 border border-primary rounded-3 m-0">
                    </div>
                    <div class="col-4 col-sm-3 col-md-3">
                        <img src="../assets/images/nfts/4.jpg"
                            class="object-fit-cover w-100 border border-primary rounded-3 m-0">
                    </div>
                    <div class="col-4 col-sm-3 col-md-3">
                        <img src="../assets/images/nfts/5.jpg"
                            class="object-fit-cover w-100 border border-primary rounded-3 m-0">
                    </div>
                    <div class="col-4 col-sm-3 col-md-3">
                        <img src="../assets/images/nfts/6.jpg"
                            class="object-fit-cover w-100 border border-primary rounded-3 m-0">
                    </div>
                    <div class="col-4 col-sm-3 col-md-3">
                        <img src="../assets/images/nfts/7.jpg"
                            class="object-fit-cover w-100 border border-primary rounded-3 m-0">
                    </div>
                    <div class="col-4 col-sm-3 col-md-3">
                        <img src="../assets/images/nfts/8.jpg"
                            class="object-fit-cover w-100 border border-primary rounded-3 m-0">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>