::ng-deep {
    .mdc-text-field--filled,
    .mdc-text-field {
        border: 1px solid var(--bs-border-color);
        border-top-left-radius: var(--mdc-filled-text-field-container-shape);
        border-top-right-radius: var(--mdc-filled-text-field-container-shape);
        border-bottom-right-radius: var(--mdc-filled-text-field-container-shape);
        border-bottom-left-radius: var(--mdc-filled-text-field-container-shape);
    }
}
