<div class="row justify-content-center align-items-stretch border border-1 small rounded-2 gx-2 px-2 mb-2 mb-sm-0">
    <div class="col-12 col-sm-auto" *ngIf="showEthPrice">
        <p class="text-center text-md-start text-muted mb-0 my-sm-1 text-nowrap">ETH Price: <span
                class="text-primary">$2,000</span></p>
    </div>
    <div class="col-auto" *ngIf="showEthPrice">
        <div class="vr d-none d-sm-block h-100"></div>
    </div>
    <div class="col-12 col-sm-auto">
        <p class="text-center text-md-start text-muted mb-0 my-sm-1 text-nowrap">Current Block: <span
                class="text-primary">19093248</span></p>
    </div>
    <div class="col-auto">
        <div class="vr d-none d-sm-block h-100"></div>
    </div>
    <div class="col-auto">
        <p class="text-muted my-1 text-nowrap">Normal: <span class="text-primary">16.47</span></p>
    </div>
    <div class="col-auto">
        <div class="vr h-100"></div>
    </div>
    <div class="col-auto">
        <p class="text-muted my-1 text-nowrap">High: <span class="text-primary">23.06</span></p>
    </div>

    <div class="col-auto">
        <div class="vr h-100"></div>
    </div>
    <div class="col-auto">
        <p class="text-muted my-1 text-nowrap">Instant: <span class="text-primary">32.95</span></p>
    </div>

</div>