<header class="border-primary border p-4 p-md-4 rounded-4 my-4 my-lg-5">
    <h1 class="fs-1 fw-bolder text-center mb-0">
        <ngx-typed-js [strings]="['DASHBOARD']" [typeSpeed]="100" [startDelay]="0" [showCursor]="false">
            <span class="typing"></span>
        </ngx-typed-js>
    </h1>


</header>

<div class="row gy-4 mb-4 mb-lg-5">
    <div class="col-12 col-md-12 col-lg-7 col-xxl-9">
        <app-total-value-chart></app-total-value-chart>
    </div>
    <div class="col-12 col-md-12 col-lg-5 col-xxl-3">
        <app-token-stats></app-token-stats>
    </div>
</div>

<div class="row gy-4 mb-4 mb-lg-5">
    <div class="col-12 col-md-12 col-lg-5 col-xxl-3">
        <app-calculator></app-calculator>
    </div>

    <div class="col-12 col-md-12 col-lg-7 col-xxl-9">
        <app-holdings></app-holdings>
    </div>
</div>

<div class="row gy-4 mb-4 mb-lg-5">
    <div class="col-12">
        <app-mint-nft></app-mint-nft>
    </div>
</div>