<div class="card" id="mint">
    <div class="card-body d-flex justify-content-center align-items-center flex-column">
        <div class="row row-col-2 row-col-lg-8 g-2 opacity-25 mb-3 mb-md-4 w-100">
            <div class="col">
                <img src="../assets/images/nfts/3.jpg"
                    class="object-fit-cover w-100 border border-primary rounded-3 m-0">
            </div>
            <div class="col">
                <img src="../assets/images/nfts/7.jpg"
                    class="object-fit-cover w-100 border border-primary rounded-3 m-0">
            </div>
            <div class="col">
                <img src="../assets/images/nfts/6.jpg"
                    class="object-fit-cover w-100 border border-primary rounded-3 m-0">
            </div>
            <div class="col">
                <img src="../assets/images/nfts/5.jpg"
                    class="object-fit-cover w-100 border border-primary rounded-3 m-0">
            </div>
            <div class="col">
                <img src="../assets/images/nfts/1.jpg"
                    class="object-fit-cover w-100 border border-primary rounded-3 m-0">
            </div>
            <div class="col">
                <img src="../assets/images/nfts/2.jpg"
                    class="object-fit-cover w-100 border border-primary rounded-3 m-0">
            </div>
            <div class="col">
                <img src="../assets/images/nfts/8.jpg"
                    class="object-fit-cover w-100 border border-primary rounded-3 m-0">
            </div>
            <div class="col">
                <img src="../assets/images/nfts/4.jpg"
                    class="object-fit-cover w-100 border border-primary rounded-3 m-0">
            </div>
        </div>

        <h3 class="h3 fw-bold text-white mb-2 text-center text-uppercase">MINT YOUR OWN CLAIMY NFT</h3>
        <p class="text-center mb-3">Connect wallet and mint a limited 500 series of Claimy NFT.</p>

        <button mat-flat-button color="primary" class="py-3 px-4 mt-2 fw-bold mx-auto text-uppercase"
            (click)="openDialog()">MINT NFT</button>

        <p class="text-center mb-2 mt-3 mt-md-4">202 / 500</p>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>

    </div>
</div>